{% extends 'template/base.html' %}
{% block content %}
    <nav class="nav nav-tabs nav-stacked">
      <a class="nav-link" href="{% url 'dashboard' %}">SPBG</a>
      <a class="nav-link" href="{% url 'dashboardjes' %}">SPBG</a>
        <a class="nav-link" href="{% url 'dashboardindogas' %}">SPBG</a>
        <a class="nav-link active" href="{% url 'dashboardpwkt' %}">{{namams}}</a>
    </nav>
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-blue rounded shadow-sm">
        <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">Mother station</h6>
            <small>
                {{namams}}
            </small>
        </div>
    </div>
{#    {% for i in jarak %}#}
{#        <h5>{{}}</h5>#}
{#    {% endfor %}#}
{# TODO: cek kapasitas, karena inputnya masih manual #}
    <div class="my-3 p-3 bg-white rounded shadow-sm mb-3">
        <h6 class="border-bottom border-gray pb-2 mb-0">Survival Time PRS</h6>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">idPRS</th>
                            <th scope="col">Survival Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in listprs %}
                            <tr>
                                <td>{{i.idprs}}</td>
                                <td>{{i.namaprs}}</td>
                                <td>{{i.survivaltime}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
    </div>

    <!-- Pembatas -->
            <div class="my-4 p-3 bg-white rounded shadow-sm mt-3 mb-4">
                <h6 class="border-bottom border-gray pb-2 mb-0">Status GTM</h6>
                <hr>
                <table class="table">
                    <thead class="thead-inverse bg-blue" style="color:white">
                        <tr>
                            <th scope="col">GTM</th>
                            <th scope="col">Ukuran</th>
                            <th scope="col">Status</th>
                            <th scope="col">Aksi</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for i in currgtm %}
                                <tr>
{#                                    <td scope="row">1</td>#}
                                    <td scope="row">{{i.NoGtm}}</td>
                                    <td scope="row">{{i.Kap}}<span class="text-muted"> ft</span></td>
                                    <td scope="row" class="colorblue">{{i.status}}</td>
                                    <td scope="row"><a href='{% url 'getidgtmpur' id=i.NoGtm%}'><button type="button" class="btn btn-outline-primary">Rute</button></a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                </table>
            </div>
    <style>
        .bg-blue{
            background-color: rgb(30, 154, 216);
        }
        .colorblue{
            color: #355989;
        }
        .colorred{
            color: #b63737;
        }
    </style>
{% endblock %}