{% extends 'template/base.html' %}
{% block content %}
<div class="menu-bar">
        <ul>
             <li><a class="nav-link" href="{% url 'PRS' %}">Detail PRS</a></li>
             <li><a class="nav-link" href="{% url 'GTM' %}">Detail GTM</a></li>
             <li><a class="nav-link active" href="#">Mother Station</a>
                <div class="sub-menu-1">
                        <ul>
                            <li><a href="{% url 'ngagel' %}">NGAGEL</a></li>
                            <li><a href="{% url 'indogas' %}">INDOGAS</a></li>
                            <li><a href="{% url 'jes' %}">JES</a></li>
                            <li><a href="{% url 'purwakarta' %}">PURWAKARTA</a></li>
                        </ul>
                    </div>
            </li>   
        </ul>
    </div>
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-blue rounded shadow-sm">
        <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">Mother station</h6>
            <small>
                {{namams}}
            </small>
        </div>
    </div>
    <!-- Pembatas -->
            <div class="my-4 p-3 bg-white rounded shadow-sm mt-3 mb-4">
                <h6 class="border-bottom border-gray pb-2 mb-0">Status GTM</h6>
                <hr>
                <table class="table">
                    <thead class="thead-inverse black" style="color:white">
                        <tr>
                            <th scope="col">GTM</th>
                            <th scope="col">Ukuran</th>
                            <th scope="col">Status</th>
                            <th scope="col">Aksi</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in gtm %}
                                <tr>
{#                                    <td scope="row">1</td>#}
                                    <td scope="row">{{i.NoGTM}}</td>
                                    <td scope="row">{{i.KapasitasGTM}}<span class="text-muted"> ft</span></td>
                                    <td scope="row" class="colorblue">{{i.NamaStatus}}</td>
                                  <td scope="row"><a href='{% url 'getidgtmpur' id=i.NoGTM%}'><button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#modelId">Rute</button></a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                </table>
            </div>
            {% for i in currgtm %}
            <!-- Modal -->
            <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Rute Tujuan GTM</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <h6 class="border-bottom border-gray pb-2 mb-0">Data GTM</h6>
                                <p class="text-muted">Nama   : {{i.NoGtm}}</p>
                                <p class="text-muted">Ukuran : {{i.Kap}}</p>
                                <p class="text-muted">Kontak : 0813 3104 4168</p>
                            </div>
                            <hr>
                            <div class="container-fluid">
                                <h6>Tujuan</h6>
                                <input class="form-control" type="text" name="country" value="PT DEVERINDO INDOGRAHA RAYA" readonly>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
    <style>
        .bg-blue{
            background-color: rgb(30, 154, 216);
        }
        .black{
            background-color: rgb(0, 0, 0)
        }
        .colorblue{
            color: #355989;
        }
        .colorred{
            color: #b63737;
        }
        .menu-bar{
            background: #355989;
            text-align: center;
        }
        .menu-bar ul{
            display: inline-flex;
            list-style: none;
            color: #fff;
        }
        .menu-bar ul li{
            width: 150px;
            margin: 15px;
        }
        .menu-bar ul li a{
            text-decoration: none;
            color: #fff;
        }
        .active, .menu-bar ul li:hover{
            background: #8dacdd;
            border-radius: 3px;
        }
        .sub-menu-1{
            display: none;
        }
        .menu-bar ul li:hover .sub-menu-1{
            display: block;
            position: absolute;
            background: rgb(0,0,100);
            margin-left: 50px;
        }
        .menu-bar ul li:hover .sub-menu-1 ul{
            display: block;
            margin: 10px;
        }
        .menu-bar ul li:hover .sub-menu-1 ul li{
            width: 100px;
            padding: 5px;
            border-bottom: 1px dotted #fff;
            background: transparent;
            border-radius: 0;
            text-align: left;
        }
        .menu-bar ul li:hover .sub-menu-1 ul li:hover{
            border-bottom: none;
        }
        .menu-bar ul li:hover .sub-menu-1 ul li a:hover{
            color: #b2ff00;
        }
    </style>
{% endblock %}