{% extends 'template/base.html' %}

{% block content %}
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" href="#">Active link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled link</a>
        </li>
    </ul>
    <div>
        {% for i in resp %}
            <h3>{{i.flow}}</h3>
        {% endfor %}
    </div>
{% endblock %}