
{% extends 'template/base.html' %}
{% block content %}
    <div class="container shadow mx-auto" style="padding: 30px; margin: 10px">
        <div>
            <h2 class="text-center"><a class="navbar-brand" href="#">Saran {{id}}</a></h2>

            <div class="form-group">
                <small>Saran</small>
{#                {% for i in saran %}#}
                    <input type="text" class="form-control" value="{{saran}}" contenteditable="false"style="margin-bottom: 10px">
{#                {% endfor %}#}

            </div>
        </div>
    </div>

    <div class="my-3 p-3 bg-white rounded shadow-sm mb-3" style="margin-left: 150px; margin-right: 150px">
            <h6 class="border-bottom border-gray pb-2 mb-0">PRS Detail</h6>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>

                                <th scope="col">Nama prs</th>
                                <th scope="col">Survival Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in alt %}
                                <tr>

                                    <td>{{i.namaprs}}</td>
                                    <td>{{i.convsur}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
        </div>
{% endblock %}